#pagegrid > footer {
  background-color: var(--color-sidebar);
  border-block-start: 1px solid var(--color-back1);
}

#top {
  position: fixed;
  inset-block-end: 1em;
  inset-inline-end: 1em;
  color: var(--color-fore1);
  outline: 0 none;
  opacity: 0.2;
  z-index: 9;

  &:hover, &:active, &:focus {
    opacity: 0.6;
  }

  svg {
    block-size: 3em;
    inline-size: 3em;
    fill: currentColor;
  }
}
