.posttags {

  margin-block: var(--section-gap);

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 0.5em;
  }

  a:link, a:visited {
    line-height: 1;
    text-decoration: none;
    padding-block: 0.2em;
    padding-inline: 0.7em;
    border-radius: 1em;
    color: var(--color-fore2);
    background-color: var(--color-back3);
    transition: all 0.2s linear;
    transition-property: color, background-color;
  }

  a:hover, a:active, a:focus {
    color: var(--color-back2);
    background-color: var(--color-fore2);
  }

}
