nav.pagelist {

  margin-block: var(--margin-width);
  border-block-end: 1px solid var(--color-back5);

  h2, h3 {
    font-size: var(--fsize-3);
    line-height: 1;
    color: var(--color-fore2);
    margin: 0;
  }

  p {
    margin-block: 0.25em;
  }

  p.meta {
    font-size: var(--fsize--1);
    color: var(--color-fore4);
  }

  p.description {
    color: var(--color-fore3);
  }

  a {
    display: block;
    text-decoration: none;
    padding: calc(0.8 * var(--list-indent)) var(--list-indent);
    margin: 0;
    border-block-start: 1px solid var(--color-back5);
    transition: all 0.2s linear;
    transition-property: color, background-color;

    &:hover, &:active, &:focus {

      background-color: var(--color-back3);

      h2, h3 {
        color: var(--color-fore1);
        text-decoration: underline;
        text-underline-offset: 0.15em;
        text-decoration-thickness: 0.05em;
      }

    }
  }

}
