/* directory menu */
body:not(:has(#menudir)) {

  button[popovertarget="menudir"] {
    display: none;
  }

}

#menudir {

  inset: var(--header-height) auto 0 0;
  border-inline-end: 2px solid var(--color-back1);
  transform: translateX(-100%);

  &:popover-open {
    transform: none;

    @starting-style {
      transform: translateX(-100%);
    }

  }

}

/* menu always shown */
@media (width > 100ch) {

  #pagegrid {
    --menudir-width: var(--side-width);
  }

  button[popovertarget="menudir"] {
    display: none;
  }

  #menudir {
    position: relative;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: auto;
    border-block-start: 0 none;
    transform: none;
    overscroll-behavior: auto;

    &::after {
      display: block;
      position: absolute;
      content: '';
      inline-size: auto;
      block-size: 2lh;
      inset: auto 0 0 0;
      background: linear-gradient(180deg, transparent, var(--color-sidebar));
      pointer-events: none;
    }

    > * {
      margin-inline: 0;
      overflow: auto;

      > menu {
        position: fixed;
        inline-size: var(--side-width);
        block-size: calc(95vb - var(--header-fix-height));
        overflow: auto;
      }
    }

    details menu {
      padding-block-end: 1em;
    }

  }

}
