/* in-page <nav-heading> menu web component */
body:not(:has(nav-heading)),
body:has(nav-heading:empty) {

  button[popovertarget="pagecontents"] {
    display: none;
  }

}

nav-heading {

  position: fixed;
  inline-size: min(var(--side-width), 95vi);
  block-size: auto;
  inset: var(--header-height) 0 0 auto;
  border: 0 none;
  background-color: var(--color-sidebar);
  overflow-block: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out, display 0.2s allow-discrete;

  &:popover-open {
    transform: none;

    @starting-style {
      transform: translateX(100%);
    }

  }

}

/* menu always shown */
@media (width > 140ch) {

  #pagegrid {
    --navhead-width: var(--side-width);
  }

  button[popovertarget="pagecontents"] {
    display: none;
  }

  nav-heading {
    display: block;
    position: relative;
    inset: 0;
    inline-size: auto;
    block-size: auto;
    transform: none;
    background-color: transparent;
    overscroll-behavior: auto;

    nav {
      position: fixed;
      inline-size: 20ch;
      block-size: calc(100% - var(--header-fix-height));
      overflow: auto;
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      inline-size: auto;
      block-size: 2lh;
      inset: auto 0 0 0;
      background: linear-gradient(180deg, transparent, #000);
    }

  }

}
