/* in-page <nav-heading> menu web component */
body:not(:has(nav-heading)),
body:has(nav-heading:empty) {

  button[popovertarget="pagecontents"] {
    display: none;
  }

}

nav-heading {

  inset: var(--header-height) 0 0 auto;
  border-inline-start: 2px solid var(--color-back1);
  transform: translateX(100%);

  &:popover-open {
    transform: none;

    @starting-style {
      transform: translateX(100%);
    }

  }

}

/* menu always shown */
@media (width > 140ch) {

  #pagegrid {
    --navhead-width: var(--side-width);
  }

  button[popovertarget="pagecontents"] {
    display: none;
  }

  nav-heading {
    display: block;
    position: relative;
    inset: 0;
    inline-size: auto;
    block-size: auto;
    transform: none;
    background-color: transparent;
    overscroll-behavior: auto;

    &::after {
      display: block;
      position: absolute;
      content: '';
      inline-size: auto;
      block-size: 2lh;
      inset: auto 0 0 0;
      background: linear-gradient(180deg, transparent, var(--color-back1));
      pointer-events: none;
    }

    nav {
      position: fixed;
      inline-size: 20ch;
      block-size: calc(100% - var(--header-fix-height));
      overflow: auto;
    }

  }

}
