${ include('_partials/htmlhead.html') }

<div id="pagegrid">

  ${ include('_partials/header.html') }

  ${ data.directory === 'docs' ? `<nav id="menudir" popover><div>${ tacs.lib.nav.menuDir( tacs, 'docs', data.link, 2) }</div></nav>` : '' }

  <main>

    ${ include('_partials/title.html') }

    ${ data.content }

  </main>

  <nav-heading id="pagecontents" popover></nav-heading>

  ${ include('_partials/backnext.html') }

  ${ include('_partials/related.html') }

  ${ include('_partials/pagetags.html') }

  ${ include('_partials/footer.html') }

</div>

${ include('_partials/htmlfoot.html') }
