${ include('_partials/htmlhead.html') }

<div id="pagegrid">

  ${ include('_partials/header.html') }

  ${ data.directory === 'docs' ? `<nav id="menudir" popover><div>${ tacs.lib.nav.menuDir( tacs, 'docs', data.link, 2) }</div></nav>` : '' }

  <main>

    <header>

      <h1>
        ${ tacs.lib.feed.escape( data.title ) }${ data?.pagination && `${ data.pagination.pageTotal > 1 ? ` <span>page ${ tacs.lib.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.lib.format.number( data.pagination.pageTotal ) }</span>` : ''}`
        }
      </h1>

    </header>

    ${ data.content }

    ${ include('_partials/list.html') }

  </main>

  ${ include('_partials/footer.html') }

</div>

${ include('_partials/htmlfoot.html') }
