${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

<main>

  ${ data?.pagination &&
    `<h1>${ tacs.lib.format.number( data.childPageTotal ) } ${ tacs.lib.feed.escape( data.title ) }${ data.pagination.pageTotal > 1 ? `, page ${ tacs.lib.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.lib.format.number( data.pagination.pageTotal ) }` : ''}</h1>`
  }

  ${ include('_partials/list.html') }

  <h2>All post tags</h2>

  ${ tacs.lib.nav.tagList(tacs) }

</main>

${ include('_partials/htmlfoot.html') }
