<footer>

  <nav>

    <!-- logo -->
    <p class="logo"><a href="__/">
      <svg><use xlink:href="#svg-logo"></use></svg>
      <span>Static<strong>Search</strong></span>
    </a></p>

    <ul>
      <li><a href="__/docs/quick-start/" title="StaticSearch quick start">quick start</a></li>
      <li><a href="__/docs/" title="StaticSearch documentation">documentation</a></li>
      <li><a href="__/blog/" title="StaticSearch article blog">blog</a></li>
      <li><a href="__/tag/" title="StaticSearch article tags">tags</a></li>
    </ul>

    <hr/>

    <p>--COPYRIGHT-- &middot; <a href="https://github.com/craigbuckler/staticsearch/blob/main/LICENSE">MIT licence</a> &middot; <a href="__/donate/" title="StaticSearch donations">donate</a></p>

    <ul class="iconlinks">
      <li><a href="https://www.npmjs.com/package/staticsearch" title="StaticSearch on npm"><svg><use xlink:href="#svg-npm"></use></svg></a></li>

      <li><a href="${ tacs.config.github.url }" title="StaticSearch on Github"><svg><use xlink:href="#svg-github"></use></svg></a></li>

      <li><a href="__/feed.xml" title="StaticSearch RSS feed"><svg><use xlink:href="#svg-rss"></use></svg></a></li>
    </ul>

  </nav>

</footer>
