<!DOCTYPE html>
<html lang="${ tacs.config.language }" dir="ltr">
<head>
<meta charset="UTF-8">
<title>${ tacs.lib.feed.escape( data.title || tacs.config.title ) }${ data?.pagination?.pageTotal > 1 ? ` (page ${ tacs.lib.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.lib.format.number( data.pagination.pageTotal ) })` : ''}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,interactive-widget=resizes-content">
<meta name="text-scale" content="scale">

<!-- Content Security Policy -->
<meta http-equiv="Content-Security-Policy" content="
default-src 'none';
base-uri 'self';
img-src 'self' data:;
media-src 'none';
font-src 'self';
style-src 'self';
script-src 'self' 'sha256-${ tacs.script.get('theme').hash }' 'sha256-${ data.script.get('schema').hash }' 'sha256-${ tacs.script.get('speculation').hash }' static.cloudflareinsights.com;
connect-src 'self' cloudflareinsights.com;
form-action 'none';
frame-src 'none';
manifest-src 'self';
">

<!-- assets -->
<link rel="preload" href="__/media/fonts/manrope.woff2" as="font" type="font/woff2">
<link rel="stylesheet" href="__/css/main.css">
<script type="module" src="__/js/main.js"></script>
<script type="module" src="__/search/staticsearch-component.js"></script>
${ tacs.script.get('theme').code }

<!-- meta -->
<meta name="description" content="${ tacs.lib.feed.escape( data.description || tacs.config.description ) }">
<meta name="author" content="${ tacs.lib.feed.escape( data.author || tacs.config.author ) }">
<link rel="canonical" href="${ data.canonical || `${ tacs.config.domain }${ data.link }` }">

<!-- search -->
<meta name="robots" content="${ data.index ? 'index,follow' : 'noindex,follow' }">
<meta name="staticsearch" content="${ data.isTagIndex || !data.index ? 'noindex' : 'index' }">

<!-- sitemap -->
<link rel="sitemap" type="application/xml" href="${ tacs.config.domain }${ tacs.root }sitemap.xml">
<link rel="sitemap" type="text/plain" href="${ tacs.config.domain }${ tacs.root }sitemap.txt">

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" title="${ tacs.lib.feed.escape( tacs.config.title ) }" href="${ tacs.config.domain }${ tacs.root }feed.xml">
<link rel="alternate" type="application/atom+xml" title="${ tacs.lib.feed.escape( tacs.config.title ) }" href="${ tacs.config.domain }${ tacs.root }feed.xml">
<link rel="alternate" type="application/feed+json" title="${ tacs.lib.feed.escape( tacs.config.title ) }" href="${ tacs.config.domain }${ tacs.root }feed.json">

<!-- application -->
<meta name="application-name" content="${ tacs.lib.feed.escape( tacs.config.title ) }">
<meta name="theme-color" content="${ tacs.config.themeColor }">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-title" content="${ tacs.config.title }">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!-- theme -->
<link rel="apple-touch-icon" sizes="180x180" href="__/media/favicons/favicon180.png">
<link rel="icon" type="image/svg+xml" href="__/media/favicons/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="__/media/favicons/favicon032.png">
<link rel="icon" type="image/png" sizes="16x16" href="__/media/favicons/favicon016.png">
<link rel="manifest" href="__/site.webmanifest">

<!-- structured data -->
${ data.script.get('schema').code }

<!-- social media -->
<meta property="og:site_name" content="Publican.dev">
<meta property="og:url" content="${ tacs.config.domain }${ data.link }">
<meta property="og:title" content="${ tacs.lib.feed.escape( data.title || tacs.config.title ) }">
<meta property="og:description" content="${ tacs.lib.feed.escape( data.description || tacs.config.description ) }">
<meta property="og:type" content="article">
<meta property="og:locale" content="${ tacs.config.language }">
<meta property="og:image" content="${ tacs.config.domain }${ tacs.root }${ data.hero || 'favicon512.png' }">
${ data.hero ? `<meta property="og:image:width" content="${ data.heroWidth || 1200 }">\n<meta property="og:image:height" content="${ data.heroHeight || 600 }">` : '' }
${ data.isDirIndex || data.isTagIndex ? '' : `
<meta property="article:published_time" content="${ tacs.lib.format.dateISO( data.date ) }">
<meta property="article:modified_time" content="${ tacs.lib.format.dateISO( data.modified || data.date ) }">
` }
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@craigbuckler">

<!-- prefetch -->
${ data?.postback?.link ? `<link rel="prefetch" href="${ data.postback.link }" as="document">` : '' }
${ data?.postnext?.link ? `<link rel="prefetch" href="${ data.postnext.link }" as="document">` : '' }
${ data?.pagination?.hrefBack ? `<link rel="prefetch" href="${ data.pagination.hrefBack }" as="document">` : '' }
${ data?.pagination?.hrefNext ? `<link rel="prefetch" href="${ data.pagination.hrefNext }" as="document">` : '' }

</head>
<body${ data.bodyClass ? ` class="${ data.bodyClass }"` : '' }>
