<details name="headermenu">

  <summary class="menuicon" title="menu">
    <svg><use xlink:href="#svg-config"></use></svg>
  </summary>

  <menu>

    <li><a href="https://www.npmjs.com/package/staticsearch" title="StaticSearch on npm"><svg><use xlink:href="#svg-npm"></use></svg> npm</a></li>

    <li><a href="${ tacs.config.github.url }" title="StaticSearch on Github"><svg><use xlink:href="#svg-github"></use></svg> Github <svg><use xlink:href="#svg-star"></use></svg> ${ tacs.config.github.stars }</a></li>

    <li><a href="__/donate/" title="StaticSearch donations"><svg><use xlink:href="#svg-donate"></use></svg> donate</a></li>

    <li><a href="__/feed.xml" title="StaticSearch RSS feed"><svg><use xlink:href="#svg-rss"></use></svg> RSS feed</a></li>

    <li><hr></li>

    <li>
      <form class="themeswitcher">
        <input type="radio" name="themeswitcher" id="themeswitcher_auto" value="" checked>

        <label for="themeswitcher_light" title="system theme"><svg><use xlink:href="#svg-pc"></use></svg> <span>device theme</span></label>

        <input type="radio" name="themeswitcher" id="themeswitcher_light" value="light">

        <label for="themeswitcher_dark" title="light theme"><svg><use xlink:href="#svg-sun"></use></svg> <span>light theme</span></label>

        <input type="radio" name="themeswitcher" id="themeswitcher_dark" value="dark">

        <label for="themeswitcher_auto" title="dark theme"><svg><use xlink:href="#svg-moon"></use></svg> <span>dark theme</span></label>
      </form>
    </li>

  </menu>

</details>
