<header>

  ${ tacs.lib.nav.breadcrumb( tacs, data.link ) }

  <h1>${ tacs.lib.feed.escape( data.title ) }</h1>

  <p class="meta">
    ${ data.modified || data.date ? `<time datetime="${ tacs.lib.format.dateISO( data.modified || data.date ) }">${ tacs.lib.format.dateHuman( data.modified || data.date ) }</time>` : '' }

    ${ data?.wordCount ?
      ` :: ${ tacs.lib.format.numberRound( data.wordCount ) } words, ${ tacs.lib.format.numberRound( Math.ceil( data.wordCount / 200 ) ) }-minute read` : ''
    }
  </p>

  ${ data.author && `<p class="author">By ${ tacs.lib.feed.escape( data.author ) }</p>` }

</header>
